<div class="w-100 d-flex flex-column item-center justify-center">
  <h1 class="mt-10">Kontaktieren Sie uns online oder telefonisch</h1>
  <div class="city-cards">
    <nz-card class="city-card" *ngFor="let city of cities" [nzBordered]="false">
      <div class="badge" [ngClass]="'grey'">
        FREIE BETTEN
      </div>
      <div class="city-name">
        <h3><a [routerLink]="['/city']">{{ city.name }}</a></h3>
      </div>
      <p>Finden Sie hier Ihr perfektes Monteurzimmer!</p>
    </nz-card>
  </div>
</div>
