.all-properties {
    padding: 20px;
}

.properties-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Space between cards */
}

.url-input {
    width: 100%;
    max-width: 300px; /* Limit input width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Add a border for input */
    border-radius: 5px;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination-button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}

.configure-properties-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.configure-properties-button:hover {
    background-color: #0056b3;
}

.find-property-button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Full width for the button */
}

.find-property-button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}



