.property-card {
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.property-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.property-card h3 {
    margin: 0 0 5px;
    font-size: 1.1em;
    color: #FFD700;
    font-weight: bold;
    text-align: center;
}

.property-card p {
    margin: 2px 0;
    font-size: 0.8em;
    line-height: 1.2;
    text-align: center;
}

.property-card-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.see-more-button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .property-card {
        max-width: 90%;
        height: auto;
    }

    .see-more-button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .property-card {
        height: auto;
    }

    .property-card-content {
        padding: 8px;
    }

    .see-more-button {
        padding: 8px;
    }
}