/* SingleProperty.css */
.property-details {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.property-details h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #333;
}
.property-details h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #666;
}

.property-table,
.property-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.property-table th,
.property-details-table th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: left;
}

.property-table td,
.property-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.link-preview {
    display: flex;
    align-items: center;
}

.preview-image {
    width: 200px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px; /* Rounded corners for the image */

}

.preview-details h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #007bff;
}

.preview-details p {
    margin: 5px 0 0;
    font-size: 0.9em; /* Adjust size as necessary */
    color: #666; /* Faded color for description */
}

.open-link-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open-link-button:hover {
    background-color: #0056b3;
}

.property-details-table {
    width: 100%;
    border-collapse: collapse;
}

.property-details-table th, .property-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.boolean-values-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.boolean-values-table th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: left;
}

.boolean-values-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.icon {
    width: 24px; /* Set the icon size */
    height: auto;
}




