/* SubscribeModal.module.css */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of everything */
    backdrop-filter: blur(10px); /* Blur the background */
}

.modalContent {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 15px rgba(255, 106, 0, 0.5); /* Orange shadow */
}

.modalContent h2 {
    margin-bottom: 20px;
}

.modalContent form label {
    margin-bottom: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.modalContent form input,
.modalContent form textarea {
    width: -webkit-fill-available;;
    padding: 8px;
    height: 20px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.modalActions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.modalActions button {
    padding: 10px 20px;
    background-color: #ff6200;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.modalActions button[type="button"] {
    background-color: #afafaf;
}
