.header {
    padding: 25px 30px;
    /*background-color: #ffffff;*/
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    z-index: 1000;
}

.header > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header img {
    height: 50px;
}

.header h1 a {
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.searchButton {
    display: inline-flex;
    align-items: center;
    background-color: #ff4812;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: none;
    height: 50px;
    margin: 0 10px;
    width: max-content;
}

.searchButton .arrowIcon {
    margin-left: 10px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.searchButton:hover {
    background-color: #e04300;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        padding: 0;
        height: auto; /* Allow height to adjust */
    }

    .header img {
        height: 40px; /* Smaller logo for mobile */
    }

    .header h1 a {
        font-size: 20px; /* Smaller font size for header */
    }

    .searchButton {
        padding: 8px 15px; /* Smaller padding */
        font-size: 16px; /* Smaller font size */
        height: 40px; /* Adjust height */
        width: 100%; /* Full width button */
        margin: 10px 0; /* Margin on top and bottom for spacing */
    }
}