.headerContainer {
    padding: 25px 30px;
    /*margin-bottom: 100px;*/
}

.heroSlideContainer {
    padding: 0;
    justify-content: center;
    display: flex;
}

.favProdsContainer {
    margin-top: 50px;
    padding: 0 30px;
}

.favProdsContainer > div {
    margin-bottom: 20px;
    margin-top: 20px;}

.favTitle {
    font-weight: bold;
    font-size: 34px;
    color: #000000;
}

.favTitle2 {
    font-weight: bold;
    font-size: 34px;
    color: #000000;
    margin-bottom: 50px !important;
}

.favCitiesContainer {
    padding: 20px 50px;
}

.aboutUsTitle {
    font-weight: bold;
    font-size: 36px;
    color: #ea5e47;
}

.aboutUsContainer {
    margin-top: 100px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footerContainer {
    margin-top: 100px;
}

.favCityTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
    font-size: 34px;
}

.propertyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.propertyCellContainer {
    padding: 25px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: #fff0ed;
    border-radius: 20px;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.propertyCellContainer:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #ffc0a4;
    transform: scale(1.03);
    background-color: white;
    box-shadow: 0 1px 13px rgba(203, 88, 32, 0.63); /* orange shadow */
}

.propertyCellContainer > img {
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.propertyCellDetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 25px;
}

.propertyCellDetails > p {
    margin: 0;
}

.propertyCellRating {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.propertyCellRating > p {
    font-style: italic;
}

.propertyCellRating > div > button {
    font-size: 11px;
}

.propertyCellDetails > h4 {
    margin: 10px 0;
    text-align: start;
    font-weight: normal;
}

.propertyCellDetails > h1 {
    margin: 7px 0 0;
    font-size: 22px;
    text-align: start;
}

.propertyCellDetails > h5 {
    margin: 0;
    font-style: italic;
    font-weight: normal;
    color: #333333;
    text-align: start;
}

.propertyBodyContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}

.propertyFilterContainer > h2 {
    margin: 0;

}

.propertyListContainer {
    width: 70%;
    align-items: flex-start;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.propertyFilterContainer {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 20px;
    width: 20%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filterCategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filterItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filterItem > input {
    width: 20px;
    margin-left: 8px;
}

.filterItem input[type="checkbox"] {
    margin-right: 8px;
}

.filterItem label {
    font-size: 14px;
    color: #333;
}

h3 {
    color: #444;
    font-size: 18px;
    margin-bottom: 15px;
}

.filterCategory > h4 {
    color: #ff6c37;
    font-size: 16px;
    margin-bottom: 10px;
}

.propertyScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filterItemText {
    margin-bottom: 15px; /* Space between each filter item */
    display: flex; /* Align label and input in a row */
    align-items: center; /* Center vertically */
    width: 190px;
}

.filterItemText input {
    width: 190px; /* Width of the input field */
    height: 30px; /* Height of the input field */
    padding: 5px; /* Padding for input field */
    border: 1px solid #ccc; /* Border for input field */
    border-radius: 5px; /* Rounded corners for input field */
    margin-right: 10px; /* Space between input and label */
}

.filterItemText label {
    font-size: 14px; /* Font size for label */
    color: #333; /* Color for label */
}

.logo {
    width: 100px; /* Adjust as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between logo and other content */
}


@media (max-width: 500px) {
    .propertyFilterContainer > h2 {
        font-size: 20px;
    }

    .propertyBodyContainer {
        flex-direction: column;
    }

    .propertyFilterContainer {
        width: auto;
    }

    .filterItem {
        flex-direction: row;
        margin-bottom: 0;
    }

    .filterCategory {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .filterCategory > h4 {
        width: 100%;
        margin: 5px;
    }

    .filterItemText {
        width: 50%;
        margin: 0;
    }

    .filterItemText input {
        width: -webkit-fill-available;
    }

    .propertyListContainer {
        padding: 25px;
        margin: 0;
        width: auto;
    }

    .propertyListContainer > h2 {
        margin-bottom: 10px;
        font-size: 20px;
    }
}