<div>
  <form [formGroup]="filtersForm">
    <div class=" filters w-70 d-flex flex-column item-center justify-center">
      <div class="w-100 d-flex">
        <nz-select formControlName="selectedCity" nzPlaceHolder="City" nzAllowClear>
          <nz-option *ngFor="let city of cities" [nzValue]="city">{{ city }}</nz-option>
        </nz-select>
      </div>
      <div class="w-100 d-flex">
        <nz-date-picker formControlName="checkInDate" nzPlaceHolder="Check-In Date" nzFormat="YYYY-MM-DD"
                        class="date-picker"></nz-date-picker>
        <nz-date-picker formControlName="checkOutDate" nzPlaceHolder="Check-Out Date" nzFormat="YYYY-MM-DD"
                        class="date-picker"></nz-date-picker>
      </div>
      <div class="w-100 d-flex">
        <nz-select formControlName="extensionOption" nzPlaceHolder="Extension Option" nzAllowClear>
          <nz-option *ngFor="let option of extensionOptions" [nzValue]="option">{{ option }}</nz-option>
        </nz-select>

        <nz-select [(ngModel)]="propertyTypes" nzPlaceHolder="Property Type" nzAllowClear>
          <nz-option *ngFor="let type of propertyTypes" [nzValue]="type">{{ type }}</nz-option>
        </nz-select>
      </div>
      <div class="w-100 d-flex">
        <nz-input-number
          formControlName="numberOfGuests"
          [nzMin]="1"
          [nzStep]="1"
          nzPlaceHolder="Number of Guests"
          class="input-number"
        ></nz-input-number>
        <nz-input-number
          formControlName="bedCount"
          [nzMin]="1"
          [nzStep]="1"
          nzPlaceHolder="Bed Count"
          class="input-number"
        ></nz-input-number>
      </div>
      <div class="w-100 d-flex">
        <nz-select formControlName="neighborhoods" nzPlaceHolder="Neighborhood" nzAllowClear>
          <nz-option *ngFor="let area of neighborhoods" [nzValue]="area">{{ area }}</nz-option>
        </nz-select>
      </div>
      <div class="w-100 d-flex">
        <nz-slider formControlName="budget" nzRange [nzMin]="0" [nzMax]="1000" [nzStep]="10"></nz-slider>
      </div>
    </div>
  </form>
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Close</button>
  <button nz-button nzType="primary" (click)="onApply()">Apply</button>
</div>
