.filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nz-select,
  nz-input-number,
  nz-date-picker,
  nz-slider {
    width: 100%;
    margin-bottom: 10px;
  }
}
