/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px; /* Keep padding for a comfortable layout */
    width: 50%; /* Increase width to 50% of the screen */
    height: auto; /* Allow height to be auto for dynamic content */
    max-height: 80%; /* Limit maximum height to avoid overflow */
    overflow-y: auto; /* Enable scrolling if content overflows */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1010;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 10px; /* Space below the form */
}

/* Input styles */
input {
    width: 100%;
    padding: 10px; /* Add some padding for better aesthetics */
    /*margin-bottom: 10px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Icon Grid Container */
.icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 icons per row */
    grid-gap: 10px;
    margin-bottom: 15px; /* Space below the icon grid */
}

/* Icon Styles */
.icon-wrapper {
    width: 40px;
    padding-bottom: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.icon-wrapper.active {
    border-color: green; /* Highlight active icon */
}

/* Modal Buttons */
.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px; /* Space between buttons */
    margin-top: 20px; /* Space above buttons */
}

.modal-buttons button {
    padding: 10px 15px; /* Adjust button padding */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
    background-color: #0056b3;
}

.modal-buttons button:active {
    background-color: #00448a;
}
