.search-box-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.search-inputs {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    margin-bottom: 15px;

}

.input-group {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

.input-group:last-child {
    margin-right: 0;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
    font-size: 14px;
}

.small-input {
    min-width: 80px;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.apply-button-container {
    display: flex;
    justify-content: flex-end;
}

.apply-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.filter-icon {
    width: 24px;
    height: 24px;
}
