.heroSlideContainer {
    padding: 0;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.favProdsContainer {
    margin-top: 50px;
    padding: 0 30px;
}

.favProdsContainer > div {
    margin-bottom: 20px;
    margin-top: 20px;
}

.favTitle {
    font-weight: bold;
    font-size: 34px;
    color: #000000;
}

.favTitle2 {
    font-weight: bold;
    font-size: 34px;
    text-align: left;
    color: #000000;
    padding: 0 15px;
}

.favCitiesContainer {
    padding: 20px 50px;
}

.favCitiesContainer > div {
    margin-bottom: 20px;
    margin-top: 20px;
}

.aboutUsTitle {
    font-weight: bold;
    font-size: 36px;
    color: #ea5e47;
}

.aboutUsContainer {
    margin-top: 100px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footerContainer {
    margin-top: 100px;
}

.favCityTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
    font-size: 34px;
}

.dividerLine {
    border: none;
    width: 520px;
    height: 3px;
    border-radius: 5px;
    background-color: #ff3c00;
    margin: 0 15px;
}

.dividerLine2 {
    border: none;
    width: 245px;
    height: 3px;
    border-radius: 5px;
    background-color: #ff3c00;
    margin: 0 15px;
}