.heroSlideContainer {
    padding: 0;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.favProdsContainer {
    margin-top: 50px;
    padding: 0 30px;
}

.favProdsContainer > div {
    margin-bottom: 20px;
    margin-top: 20px;
}

.favTitle {
    font-weight: bold;
    font-size: 34px;
    color: #000000;
}

.favTitle2 {
    font-weight: bold;
    font-size: 34px;
    text-align: left;
    color: #000000;
    padding: 0 15px;
}

.favCitiesContainer {
    padding: 20px 50px;
}

.favCitiesContainer > div {
    margin-bottom: 20px;
    margin-top: 20px;
}

.aboutUsTitle {
    font-weight: bold;
    font-size: 36px;
    color: #ea5e47;
}

.aboutUsContainer {
    margin-top: 100px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footerContainer {
    margin-top: 100px;
}

.favCityTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
    font-size: 34px;
}

.dividerLineCheapestProperties {
    border: none;
    width: 520px;
    height: 3px;
    border-radius: 5px;
    background-color: #ff3c00;
    margin: 0 15px;
}

.dividerLineFavoriteProperties {
    border: none;
    width: 370px;
    height: 3px;
    border-radius: 5px;
    background-color: #ff3c00;
    margin: 0 15px;
}

.dividerLineFavortieCities {
    border: none;
    width: 245px;
    height: 3px;
    border-radius: 5px;
    background-color: #ff3c00;
    margin: 0 15px;
}
/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .heroSlideContainer {
        height: auto; /* Adjust height for smaller screens */
        padding: 20px; /* Add padding */
        margin-bottom: 20px; /* Add margin below HeroSlide to separate it from FavCities */
    }

    .favCitiesContainer, .favProdsContainer, .aboutUsContainer {
        padding: 0 15px; /* Reduce padding */
        margin-bottom: 20px; /* Add bottom margin to separate sections */
    }

    .favTitle, .favTitle2, .favCityTitle, .aboutUsTitle {
        font-size: 24px; /* Reduce font size */
        text-align: center; /* Center align titles */
    }

    .dividerLineCheapestProperties,
    .dividerLineFavoriteProperties,
    .dividerLineFavortieCities {
        width: 100%; /* Full width on smaller screens */
        margin: 10px 0; /* Adjust margin */
    }

    .aboutUsContainer {
        gap: 20px; /* Reduce gap for smaller screens */
        margin-top: 50px; /* Adjust margin */
    }
}

@media (max-width: 480px) {
    .favTitle, .favTitle2, .favCityTitle, .aboutUsTitle {
        font-size: 20px; /* Further reduce font size */
    }
}
