<header>
  <app-header
    [isSearch]="false"
    [removeInput]="true"
    [removeContactUs]="true"
  >
  </app-header>
</header>

<div class="contact-container">
  <div class="contact-text">
    <h2>Kontaktieren Sie uns</h2>
    <h3>Einfach und schnell anfragen – Ihr individuelles Angebot wartet!</h3>
    <p class="info">Tel.: +49 1579 2492000</p>
    <p class="info">{{ email }}</p>
  </div>

  <form nz-form [formGroup]="contactForm" class="contact-form">
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Firmenname" formControlName="companyName"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Telefon" formControlName="phone"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Vor- und Nachname*" formControlName="fullName" required/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Email*" type="email" formControlName="email" required/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker formControlName="arrivalDate" placeholder="Anreisedatum"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker formControlName="departureDate" placeholder="Abreisedatum"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Postleitzahl und Stadt" formControlName="cityZip"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <input nz-input placeholder="Personenanzahl*" formControlName="numberOfPeople" required/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <textarea nz-input rows="4" formControlName="message" placeholder="Ihre Nachricht"></textarea>
      </nz-form-control>
    </nz-form-item>

    <!--        <nz-checkbox formControlName="acceptTerms">-->
    <!--          Ich stimme der Verarbeitung meiner personenbezogenen Daten zu.-->
    <!--        </nz-checkbox>-->

    <button nz-button nzType="primary" [disabled]="!contactForm.valid">Senden</button>
  </form>
</div>
<footer>
  <app-footer></app-footer>
</footer>
