<app-header></app-header>
<app-slider></app-slider>
<app-favorite-cities
  [title]="'Favorite Cities'"
  [bookmarks]="favoriteCities"
></app-favorite-cities>
<div class="w-100 d-flex flex-column item-center justify-center newsBar">
  <h1>CHECK-MONTEURZIMMER – Angebote, News & Tipps direkt in dein Postfach</h1>
  <p>Bleib immer auf dem Laufenden und erhalte die besten Angebote für Monteurzimmer sowie exklusive Aktionen und
    praktische Tipps direkt per E-Mail. Jetzt abonnieren und kein Schnäppchen mehr verpassen!</p>
  <button nz-button nzType="primary" (click)="goToNewsletterPage()">Exklusive Angebote erhalten</button>
</div>
<app-favorite-cities
  [title]="'Chipist Cities'"
  [bookmarks]="favoriteCities"
></app-favorite-cities>
<app-about-us></app-about-us>
<app-footer></app-footer>
