<header>
  <app-header
    [isSearch]="false"
    [removeInput]="true"
  ></app-header>
</header>
<div class="main w-100 d-flex flex-column item-center justify-center">
  <h1>Newsletter abonnieren und immer informiert sein</h1>
  <form nz-form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="email" placeholder="E-Mail *"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="firstName" placeholder="Vorname"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="lastName" placeholder="Nachname"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <label>Geburtsdatum</label>
      <nz-row>
        <nz-col nzSpan="8">
          <nz-select formControlName="day" placeholder="Tag">
            <nz-option *ngFor="let day of days" [nzValue]="day" [nzLabel]="day"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzSpan="8">
          <nz-select formControlName="month" placeholder="Monat">
            <nz-option *ngFor="let month of months" [nzValue]="month.value" [nzLabel]="month.name"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzSpan="8">
          <nz-select formControlName="year" placeholder="Jahr">
            <nz-option *ngFor="let year of years" [nzValue]="year" [nzLabel]="year"></nz-option>
          </nz-select>
        </nz-col>
      </nz-row>
    </nz-form-item>

    <button nz-button nzType="primary" type="submit" [disabled]="newsletterForm.invalid">
      Jetzt kostenlos anmelden
    </button>
  </form>
</div>
<footer>
  <app-footer></app-footer>
</footer>
