<!-- bookmark.component.html -->
<div class="bookmark-container">
  <h2 class="title">Properties</h2>
  <ul class="bookmark-list">
    <li *ngFor="let bookmark of bookmarks" class="bookmark-item">
      <div class="bookmark-content">
        <a [href]="bookmark.url" target="_blank">
          <img *ngIf="bookmark.imageUrl" [src]="bookmark.imageUrl" alt="Bookmark Image" class="bookmark-image"/>
        </a>
        <div class="bookmark-details">
          <a [href]="bookmark.url" target="_blank">
            <h3 class="bookmark-title">{{ bookmark.title }}</h3>
          </a>
          <p class="bookmark-description">{{ bookmark.description }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>


